@import url('https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap');

body {
    background-color: #ededed !important;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#search:focus {
    border: 1px solid black;
    box-shadow: 0 0 0 1px black;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: #444444;
    color: white;
}

.btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem white;
}

thead tr {
    background-color: black;
}

thead tr th{
    color: white;
    font-weight: 300;
}

tbody {
    background-color: white;
}

